.perfil{
    color: black;
    margin: 0px;
    }
    .datos-perfil p a:hover{
    text-decoration: none;
    }
    .header-perfil{
    margin: 0;
    background-color: #3A8891;
    height: 18%;
    
    display: flex;
    border-bottom: #747474 solid 1px;
    
    }
    .foto-perfil{
    background-color: #0E5E6F;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: #747474 solid 1px;
    
    
    display: flex;
    }
    .foto-perfil p{
    background: url("/pagina/pagina/media/fotoperfilig.jpg");
    width: 100%;
    height: 100%;
    }
    .datos-perfil{
    padding: 20px;
    }
    .body-perfil{
    margin: 0;
    background-color: #c5c4c4;
    }
    .botones-navbar-perfil{
    background-color: #0E5E6F;
    display: flex;
    padding-left: 40px;
    align-items: center;
    align-content: center;
    
    border-bottom: #747474 solid 1px;
    }
    .botones-navbar-perfil p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: 0;
    }
    .botones-navbar-perfil p a{
    color: black;
    text-decoration: none;
    }
    .botones-navbar-perfil p a:hover{
    color: aqua;
    }
    .resumen{
    background-color: #F2DEBA;
    display: block;
    }
    .hilos{
    display: block;
    
    }
    .publicacion-perfil{
    display: block;
    justify-content: center;
    }
    .right-bar{
    margin: 10px;
    width: 20%;
    
    margin-left: 10px;
    margin-right: 10px;
    }
    .equipo-actual{
    background-color: #FFEFD6;
    display: flex;
    margin: 10px;
    align-items: center;
    }
    .foto-equipo{
    background-color: #0E5E6F;
    width: 100px;
    height: 80px;
    }
    .datos-equipo-perfil{
    padding-left: 20px;
    }
    .jugadores-equipo{
        background-color: #FFEFD6;
        display: grid;
        margin: 30px;
        padding: 10px;
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
    .jugador-equipo{
        border-left: #3A8891 solid 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
    }
    .jugador-equipo:hover{
        background-color: #bda277;
    }
    .img-jugador-equipo{
        background-color: #0E5E6F;
        width: 40%;
        height: 100%;
    }
    .nombre-jugador-equipo{
        padding: 15px 10px;
    }
    .nombre-jugador-equipo p{
        margin: 0;
    }
    .staff-equipo{
        background-color: #FFEFD6;
        display: grid;
        margin: 30px;
        padding: 10px;
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }