{% extends 'main/base.html' %}

{% block content %}
<div class="conteiner-home" style="background-color: #EFF5F5;">
     <!-- AQUÍ IRÁ PARTIDO JUGANDOSE, PARTIDOS SIGUIENTES -->
    <div class="segundo-bloque">

        <div class="sig-partido">
            <h6>Siguientes Partidos</h6>
            <div >
                <div class="partido">
                    <div class="part-equipo">
                        <p >Nombre Equipo</p>
                        <p >2</p>
                    </div>
                    <div class="part-equipo">
                        <p >Nombre Equipo</p>
                        <p >2</p>
                    </div>
                </div>
    
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="sig-partido terminado">
            <h6>Partidos Terminados</h6>
            <div>
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
    
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yt-conteiner">
        <div class="yt-vid">
            <!-- AQUÍ IRÁ EL VIDEO DE YOUTUBE O EN VIVO -->
            <div class="vid">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DUyhW9q2e-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    


    <div class="tercer-bloque">
        <div class="sig-partido">
            <h6>Siguientes Campeonatos</h6>
            <div >
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
    
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
    
            </div>
            
    
        </div>
    
        <div class="sig-partido terminado">
            <h6>Campeonatos Terminados</h6>
            <div >
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
    
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
                <div class="partido">
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                    <div class="part-equipo">
                        <p>Nombre Equipo</p>
                        <p>2</p>
                    </div>
                </div>
    
            </div>
            
    
        </div>
    </div>
</div>
{% endblock %}