{% extends "main/base.html" %}

{% block title %} Edita tu cuenta {% endblock %}


{% block content %}

{% if user.is_authenticated %}

    {% if user.id == perfil.user.id %}
    <br>

    <div class="formulario-registro">
        <h3>Edita tu perfil</h3>
        <form method="POST", class="form-group">
        {% csrf_token %}

        {{ form.as_p }}


        <button type="submit", class="btn btn-success">Actualizar</button>
        </form>
    </div>
    <br>
    <br>
    {% else %}
    <h1>No eres el usuario propietario de este perfil!</h1>
    {% endif %}

{% else %}
<h1>No tienes permitido estar aquí! y lo sabes e.e</h1>
{% endif %}
    
{% endblock %}